<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PostList</title>
</head>
<body>
{% if messages %}
{% for message in messages %}
{{message}}
{% endfor %}
{% endif %}
<h1>Here are the posts!!</h1>
<a href="{% url 'addpost' %}">Add Post</a>
<br>
<hr>
    {% if posts %}
    {% for post in posts %}
    <a href="{% url 'postdetail' post.id %}">{{post.title}}</a>
    <p>Created_at : {{post.created_at}}</p>
    <hr>
    <br>
    {% endfor %}
    {% else %}
    <p>No Post Available</p>
    {% endif %}

    <a href="{% url 'homepage' %}">GO TO HOMEPAGE</a>
</body>
</html>