<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PostDetail</title>
</head>
<body>

<h1>Post Detail</h1>
    
    <p>Title: {{post.title}}</p>
    <p>Posted at: {{post.created_at}}</p>
    <p>Modified at: {{post.modified_at}}</p>
    <br>
    <p>{{post.text}}</p>
    <a href="{% url 'postdelete' post.id %}">Delete</a>
    <a href="{% url 'update' post.id%}">Update</a>
    <br>
    <a href="{% url 'postlist' %}">Go back</a>
</body>
</html>